<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codates.plantie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".view.DetailPenyakit"
            android:resizeableActivity="false"
            android:theme="@style/DetailPenyakit" />
        <activity
            android:name=".view.ListPenyakit"
            android:resizeableActivity="false"
            android:theme="@style/ListPenyakit" />
        <activity android:name=".view.PengembanganActivity" />
        <activity android:name=".view.TanamanKuActivity" />
        <activity
            android:name=".view_menanam.MenanamActivity"
            android:label="@string/title_activity_menanam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Laporan"
            android:label="@string/title_activity_laporan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.TanamanKu"
            android:resizeableActivity="false" />
        <activity
            android:name=".view.DetailTanaman"
            android:resizeableActivity="false"
            android:theme="@style/DetailTanaman" />
        <activity
            android:name=".view.Setting"
            android:resizeableActivity="false" />
        <activity
            android:name=".view.ListTanaman"
            android:resizeableActivity="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.LoginActivity"
            android:resizeableActivity="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SplashScreen"
            android:resizeableActivity="false"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:resizeableActivity="false"
            android:theme="@style/MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>