<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codates.plantie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.TanamanKuActivity"></activity>
        <activity
            android:name=".view_menanam.MenanamActivity"
            android:label="@string/title_activity_menanam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Laporan"
            android:label="@string/title_activity_laporan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.tanamanKu"
            android:resizeableActivity="false" />
        <activity
            android:name=".view.DetailTanaman"
            android:resizeableActivity="false" />
        <activity
            android:name=".view.Setting"
            android:resizeableActivity="false" />
        <activity
            android:name=".view.ListTanaman"
            android:resizeableActivity="false"
            android:theme="@style/MainActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:resizeableActivity="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SplashScreen"
            android:resizeableActivity="false"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:resizeableActivity="false"
            android:theme="@style/MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>